@import './stylesheets/mixins';

.App {
  margin: 30px 15px;
  @include bp-tablet {
    margin: 30px;
  }
}

.students__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5em;
  margin-top: 0;
  @include bp-tablet {
    margin: 2em;
  }
  a {
    flex: 0 0 100%;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    @include bp-tablet {
      margin-top: 60px;
    }
    @include bp-tablet {
      flex: 0 0 48%;
    }
    @include bp-desktop {
      flex: 0 0 21%;
    }
  }
}

.students__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
    .students__name, span {
      text-decoration: underline;
      text-decoration-color:#abb4c9;
    }
  }
  @include bp-tablet {
    min-height: 350px;
    margin-top: 0;
  }
}

.students__artworks-title {
  font-style: italic;
}

.students__name {
  margin: 25px 0 3px 0;
  @include bp-tablet {
    margin-top: 0;
  }
}

.students__image {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  @include bp-tablet {
    margin: 20px 0;
    max-width: 250px;
    max-height: 250px;
  }
}

.students__info {
  .students__name {
    text-decoration: none;
    color: black;
  }
}

.students__inner {
  display: flex;
  flex: 1;
  .students__image-wrapper {
    margin: auto;
  }
}

.students__artworks-info {
  font-size: 0.9em;
}

.header__links {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  a {
    margin-left: 25px;
    color: black;
    text-decoration: none;
  }
  .header-link {
    margin: 0 0 5px 10px;
    @include bp-tablet {
      margin: 0 20px 0 0;
    }
    &:hover {
      text-decoration: underline;
      text-decoration-color:#abb4c9;
    }
  }
  .header__title {
    margin: 0;
    font-size: 1.8em;
    letter-spacing: 1.5px;
    a {
      margin: 0;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  @include bp-tablet { 
    flex-direction: row;
  }
}

.slideshow__wrapper {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.student-page__info {
  position: fixed;
  bottom: 30px;
  left: 15px;
  @include bp-tablet {
    bottom: 30px;
    left: 30px;  
  }
  .students__name {
    font-size: 1.1em;
  }
}

.students__contact {
  font-size: 0.9em;
  font-weight: 300;
  margin: 15px 0 30px 0;
  display: flex;
  flex-direction: column;
  a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
  span {
    margin-right: 30px;
    margin-bottom: 5px;
  }
  @include bp-tablet {
    margin-bottom: 0;
    display: block;
  }
}

.nav__arrow {
  position: fixed;
  margin-top: 25vh;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.image__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    display: block;
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
  }
}

.slideshow__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 55vw;
  min-height: 40vh;
  max-width: 55vw;
  max-height: 40vh;
  width: auto;
  height: auto;
  margin: auto;
}

.students__artworks-statement {
  width: 100%;
  font-size: 0.9em;
  margin: 10px 0 15px 0;
  font-weight: 300;
  line-height: 1.3em;
  @include bp-tablet {
    width: 85%; 
  }
}

.cohort__info-block {
  font-weight: 300;
  margin-top: 20px; 
  line-height: 1.2em;
  @include bp-tablet { 
    width: 65%;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-top: 60px; 
  }
  .italic {
    font-style: italic;
  }
}

.header-italic {
  font-size: 1.6em;
  margin-bottom: 20px;
  font-style: italic;
}

.cohort-links {
  position: fixed;
  top: 60px;
  right: 30px;
  display: flex;
}

.student__nav {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  .nav__left { 
    flex: 0 0 50% ;  
    &:hover {
      cursor: w-resize;
    }
  }
  .nav__right {
    flex: 0 0 50%;  
    &:hover {
      cursor: e-resize;
    }
  }
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.student__info {
  .students__name {
    font-size: 1.1em;
  }
}