@import './stylesheets/mixins';

.App {
  margin: 30px 15px;
  @include bp-tablet {
    margin: 30px;
  }
}

.students__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5em;
  margin-top: 0;
  @include bp-tablet {
    margin: 2em;
  }
  a {
    flex: 0 0 100%;
    text-decoration: none;
    color: black;
    @include bp-tablet {
      flex: 0 0 21%;
    }
  }
}

.students__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  margin-top: 20px;
  @include bp-tablet {
    margin-top: 60px;
  }
  &:hover {
    cursor: pointer;
    .students__name, span {
      text-decoration: underline;
      text-decoration-color:#abb4c9;
    }
  }
}

.students__artworks-title {
  font-style: italic;
}

.students__name {
  margin-bottom: 3px;
}

.students__image {
  display: block;
}

.students__image {
  width: 90%;
  margin: auto;
  @include bp-tablet {
    width: 80%;
  }
}

.students__info {
  .students__name {
    text-decoration: none;
    color: black;
  }
}

.students__inner {
  display: flex;
  flex: 1;
  .students__image-wrapper {
    margin: auto;
  }
}

.students__artworks-info {
  font-size: 0.9em;
}

.header__links {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  a {
    margin-left: 25px;
    color: black;
    text-decoration: none;
  }
  .header-link {
    &:hover {
      text-decoration: underline;
      text-decoration-color:#abb4c9;
    }
  }
  .header__title {
    margin: 0;
    font-size: 2em;
    a {
      margin: 0;
    }
  }
}

.flex {
  display: flex;
}

.slideshow__wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.student-page__info {
  position: fixed;
  bottom: 30px;
  left: 15px;
  @include bp-tablet {
    bottom: 30px;
    left: 30px;  
  }
}

.nav__arrow {
  position: fixed;
  margin-top: 25vh;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.slideshow__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.students__artworks-statement {
  width: 40%;
  font-size: 0.9em;
  margin-top: 10px;
  font-weight: 300;
}

.cohort__info-block {
  font-weight: 300;
  margin-top: 20px; 
  @include bp-tablet { 
    width: 65%;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-top: 60px; 
  }
  .italic {
    font-style: italic;
  }
}

.header-italic {
  font-size: 1.6em;
  margin-bottom: 20px;
  font-style: italic;
}

.cohort-links {
  position: fixed;
  top: 60px;
  right: 30px;
  display: flex;
}

.header-link {
  margin-left: 20px;
  &:hover {
    cursor: pointer;
  }
}

.student__nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  .nav__left { 
    flex: 0 0 50% ;  
    &:hover {
      cursor: w-resize;
    }
  }
  .nav__right {
    flex: 0 0 50%;  
    &:hover {
      cursor: e-resize;
    }
  }
}